{% extends "base.html" %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Панель управления</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                {% for card in cards %}
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="{{ card.icon }} me-2"></i>
                                {{ card.title }}
                            </h5>
                            <div class="d-grid gap-2">
                                {% for item in card.items %}
                                <a href="{{ item.url }}" class="btn {{ item.class }}">
                                    {{ item.text }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %} 